.checkbox{
  margin-right: 1rem;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 2rem;
  max-width: 40rem;
  margin-left: 5rem;
}

h1{
  text-align: center;
  color: #120d72;
  font-size: 5rem;
  margin-top: 2rem;
}
  

h3{
  text-align: center;
  color: #000000;
  font-size: 2rem;
  margin-top: 5rem;
}

h4{
  text-align: center;
  color: #000000;
  font-size: 25px;
  margin-top: 5rem;
  margin: 3rem;
  font-weight: 100;
}
#textdiv{
  margin-top: 12rem;
  margin-left: 3rem;
  font-size: 45px;
  width: 600px;
}

#homebdiv{
  margin-left: 12rem;
  margin-top: 2rem;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.button {
  background-color: #ffffff;
  border: 2px solid #120d72;
  border-radius: 30px;
  box-shadow: #000042 4px 4px 0 0;
  color: #000742;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  padding: 0 35px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
  text-align: center;

}

.button:hover {
  background-color: rgb(242, 246, 248);
}

.button:active {
  box-shadow: #000642 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(to top right, #ffffff 50%, rgb(221, 234, 240) 50%);
  position: relative;
}

.main-content {
  height: 100%;
}

.riskimage{
  margin-left: 60rem;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.moreb{
  margin-top: 8rem;
  margin-left: 8rem;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: all .5s ease-out;
  cursor: pointer;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #1890ff;
  border-color: #1890ff;
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  display: block;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.assessment-score {
  text-align: center;
  color: #000000;
  font-size: 4rem;
  margin-top: 5rem;

}

.rb{
    margin-top: 3rem;
    margin-left: 15rem;
    margin-bottom: 3rem;
  }